In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture. For now, don't worry about what it means: we'll learn more about what's inside of it in the next few lectures.

## Names ##

In [4]:
a = 4
a

4

In [3]:
a

4

In [5]:
a * 3

12

In [6]:
b = 9

In [ ]:
b

In [7]:
total = a + b

In [8]:
total

13

In [9]:
a = 10

In [10]:
total

13

In [11]:
total = a + b

In [12]:
total

19

In [13]:
total = 29
total

29

In [14]:
'total'

'total'

In [15]:
c * a

NameError: name 'c' is not defined

In [16]:
a = 7
a

7

### Why Names?

In [17]:
hours_per_week = 40
weeks_per_year = 52

In [21]:
hours_per_year = hours_per_week * weeks_per_year
# hours_per_year =  40*52

In [ ]:
hours_per_year

In [18]:
# Minimum hourly wage in HK
hk_hourly_minimum_wage = 37.5

In [19]:
weekly_wages = hours_per_week * hk_hourly_minimum_wage
weekly_wages

1500.0

In [22]:
yearly_wages = hours_per_year * hk_hourly_minimum_wage
yearly_wages 
# nou recommended 
# yearly_wages = 78000

78000.0

In [ ]:
40 * 37.5

In [ ]:
40 * 52 * 37.5

## Functions and Call Expressions

Built-in function documentation: https://docs.python.org/3/library/functions.html

In [23]:
abs(-5)

5

In [24]:
abs(1 - 3)

2

In [25]:
day_temp = 52
night_temp = 47
abs(night_temp - day_temp)

5

In [26]:
min(14, 15)

14

In [27]:
round(123.456)

123

In [28]:
round(123.456, 1)

123.5

In [29]:
round(123.456, 2)

123.46

In [30]:
round(123.456, 0)

123.0

In [33]:
round(123.456, ndigits=1)

123.5

In [32]:
ndigits

NameError: name 'ndigits' is not defined

## Tables ##
Documentation of Table: http://data8.org/datascience/tables.html

In [34]:
cones = Table.read_table('cones.csv')
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [35]:
cones.show(3)

In [36]:
cones.show()

In [37]:
cones.select('Flavor')

Flavor
strawberry
chocolate
chocolate
strawberry
chocolate
bubblegum

In [38]:
cones.select('Flavor', 'Price')

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 4.75

In [39]:
cones.select(Flavor, 'Price')

NameError: name 'Flavor' is not defined

In [40]:
cones.drop('Price')

Flavor     | Color
strawberry | pink
chocolate  | light brown
chocolate  | dark brown
strawberry | pink
chocolate  | dark brown
bubblegum  | pink

In [41]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [42]:
cones_without_price = cones.drop('Price')
cones_without_price

Flavor     | Color
strawberry | pink
chocolate  | light brown
chocolate  | dark brown
strawberry | pink
chocolate  | dark brown
bubblegum  | pink

In [43]:
cones.where('Flavor', 'chocolate')

Flavor    | Color       | Price
chocolate | light brown | 4.75
chocolate | dark brown  | 5.25
chocolate | dark brown  | 5.25

In [44]:
cones.sort('Price')

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25

In [45]:
cones.sort('Price', descending=True)

Flavor     | Color       | Price
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
strawberry | pink        | 3.55

In [46]:
cones.sort('Price', descending=False)

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25

In [ ]:
# sort string: dictionary order
cones.sort('Flavor', descending=True)

In [ ]:
cones.sort('Flavor', descending=False)

### A more interesting table

In [47]:
skyscrapers = Table.read_table('skyscrapers.csv')
skyscrapers

name                              | material  | city          | height | completed
One World Trade Center            | composite | New York City | 541.3  | 2014
Willis Tower                      | steel     | Chicago       | 442.14 | 1974
432 Park Avenue                   | concrete  | New York City | 425.5  | 2015
Trump International Hotel & Tower | concrete  | Chicago       | 423.22 | 2009
Empire State Building             | steel     | New York City | 381    | 1931
Bank of America Tower             | composite | New York City | 365.8  | 2009
Stratosphere Tower                | concrete  | Las Vegas     | 350.22 | 1996
Aon Center                        | steel     | Chicago       | 346.26 | 1973
John Hancock Center               | steel     | Chicago       | 343.69 | 1969
WITI TV Tower                     | steel     | Shorewood     | 329    | 1962
... (190 rows omitted)

In [48]:
skyscrapers.where('city', 'Los Angeles')

name                  | material | city        | height | completed
U.S. Bank Tower       | steel    | Los Angeles | 310.29 | 1990
Aon Center            | steel    | Los Angeles | 261.52 | 1974
Two California Plaza  | steel    | Los Angeles | 228.6  | 1992
Gas Company Tower     | steel    | Los Angeles | 228.3  | 1991
Bank of America Plaza | steel    | Los Angeles | 224.03 | 1975
777 Tower             | steel    | Los Angeles | 221    | 1991
Wells Fargo Tower     | steel    | Los Angeles | 220.37 | 1983
Figueroa at Wilshire  | steel    | Los Angeles | 218.54 | 1989
City National Tower   | steel    | Los Angeles | 213.06 | 1971
Paul Hastings Tower   | steel    | Los Angeles | 213.06 | 1971
... (1 rows omitted)

In [49]:
skyscrapers.where('name', 'Empire State Building')

name                  | material | city          | height | completed
Empire State Building | steel    | New York City | 381    | 1931

In [50]:
skyscrapers.where('city', 'New York City').sort('completed')

name                    | material | city          | height | completed
Metropolitan Life Tower | steel    | New York City | 213.36 | 1909
Woolworth Building      | steel    | New York City | 241.4  | 1913
Chanin Building         | steel    | New York City | 197.8  | 1929
Mercantile Building     | steel    | New York City | 192.6  | 1929
Chrysler Building       | steel    | New York City | 318.9  | 1930
The Trump Building      | steel    | New York City | 282.55 | 1930
One Grand Central Place | steel    | New York City | 205.13 | 1930
Empire State Building   | steel    | New York City | 381    | 1931
Twenty Exchange         | steel    | New York City | 225.86 | 1931
500 Fifth Avenue        | steel    | New York City | 212.45 | 1931
... (63 rows omitted)

In [51]:
skyscrapers.where('city', 'New York City').sort('completed', descending=True)

name                                             | material       | city          | height | completed
432 Park Avenue                                  | concrete       | New York City | 425.5  | 2015
Sky                                              | concrete       | New York City | 206    | 2015
One World Trade Center                           | composite      | New York City | 541.3  | 2014
One57                                            | steel/concrete | New York City | 306.07 | 2014
4 World Trade Center                             | composite      | New York City | 297.73 | 2014
Courtyard & Residence Inn Manhattan/Central Park | concrete       | New York City | 229.62 | 2013
Eight Spruce Street                              | concrete       | New York City | 265.18 | 2011
1 MiMA Tower                                     | concrete       | New York City | 194.55 | 2011
Goldman Sachs Headquarters                       | steel          | New York City | 228.3  | 2010
Langham Place                                    | concrete       | New York City | 192.58 | 2010
... (63 rows omitted)

In [52]:
skyscrapers.where('city', 'New York City').sort('completed', descending=True).show(3)

## Numbers ##

In [53]:
30

30

In [54]:
10 * 3    # int

30

In [55]:
10 / 3    # float

3.3333333333333335

In [56]:
10 / 2

5.0

In [57]:
10 ** 3

1000

In [58]:
10 ** 0.5

3.1622776601683795

In [59]:
1234567 ** 890

2805763342107369230793809808310885724030151698643898788380662816980113897853769505682553341995361840866283163839674938063847465098181599413516030923830315020297429114484842472806037601633183177392342419552281446098882333113360498936060689417981060580169581781517081000887466986920196787365735472976637384790660527656183529108057677628812897898917415727467403873251697100284318113613171090832770107627373429297578100452541331137972394395518879748252497629953169189742546688743838014842998797222488578482742255590278830326264415887042424349338336685586108014796843647297854686632059611017792593114133643766176826645471505135284339608286440790108605114687261446214106703238304626747430320283170505623593598192482183253323227473361217459497593514576103139354263910235117552944853835259328240635891089203247501395301794244132584186874755797831852390704417457044048557568618633160284149583340352686512009611975784239859264336878392387482791049156912854159715516214706166214466230037339823780492774337274675800289580696315819494418004733412855205155027918058344891850668473780787520539851110601937177777258527635476258052342827179765186381834973522303136829852834242679559888371990546547773735142872611383102742753311234958929602179017609453450788021576889968090558526946002867067155433937025164603278496325064732080655085967120552122358643425906339419468088785812576641170399781555198518542228755764090812514788163758877228031474626249982320173230513790766211051807071509018394299594496298553425032888639575233308427922962072691110016410832613254845558533479779137394546533348267260208654147664661662489837722166465535984470300130195361526724657999247737664119545166367970118960539653700728246780841243422865927822029745430687779341494835511048331091708435435810632677284968867671217350609932555531424276428454845446681148799804144451127195396670373733155503688440766376117308145231339204514518114182442669726926958460263504747823171357759585770665369994677944653246927717262087721616975390825217507408220510861018634338133464060418295047933927635868626199925788463191380080935701443847346532746838349449833204183719520425273508461427363268810901816439207520602455792069406367821658839121277649227555623273564677301331404339603368354187279170542954088017099056552277230318062383216542056927422226999811205450549485589246237819874869638917303541644714356081602468616512144027808621669917967523298847733280998188849126660410144516840751121177122218727312917235905337333060556516611924333661893530040067042505379294125436401184352256775565463142705637306783871882313794728831427529583150846149427004802322087788357968992264438692993009809883875465518646172470495839410492599060455716367637440364630131471750106709132465895371670412945256073822697903510522211765697295922053593229276419226531331408317896936830655815873666355197305378708964668209899291344705444276333578719323904170952074328643811404544256843025709425474387814973960542018630128201161272329024792011740745530212579878161378961127918038096648026162029808878747866210894432543002029434565613132355043777385763831238060952363449797871761622541777453653784081456719940419766751192867804269268505636574832199689538986715250742630200523490339094085425178568698903268320220973567490288420919261018482168538171910000711992076873681129307598675285503345960161016391830728260326693428202177160119543736800344297771481079627076988031975978575895647654221558620092991884687091862613605722144271490738163190650508558761186844994717152403269557878581184075275936408939256017646715559306260196259010170427037361073267573147026510628695621128132172515464076418742940103113964611681699407950967774413428184355249041334714765827480675899800235537773385443229622067233523354213261412403375030932576886654499317808172035910623439488923497729990034132955991616175315301110003136655552464696428279778365477406164307525011119783055047664864798818426307604172381073695798688377889193415423645042188927398145864445871680431617772823584658707705057426132797633601281478887542871708884776132993498113629791075212269131263135104211901928478309667400642477145201362433365658578707267018122388906853103264797837550314906826327964589811537800151348078278689526492266541600168152334174087551992509222975658050902151573849522445074588731109036554789680280345720046009120507928152632018078697710120218368147570599141031673300682348326156497244011574817802187099834880327346210624556369660018678859929271654108596951193479453034452114779847850504280525490303492730731848704497321639579545359051407002629069912400518470707512308477494989006390249351273561453957767103749105099486859441823499120103359974562095361878219993785312682108204349115081403854873968693651144816992008787094413654541840750267945428940655147102103776877924495354589674471203663800973702240269677784610346010441824261817763592599870546594987128802020889878623694800247575251661439276157008847529529237192162577463356503617323132760079688627706444510425779441871297035026396768851129501722454220316418777074912838238391162658683371634959415544181384058154251960767217101632139258312150904777623156788937309713540569306765232165671618935868039816292110221657560493742908804867952618200515005539316960724088551539133626302522557345413249384658492371698805093289004717340532810196692880918816862832405941920828302568461913904088702147654713878056218117011839094769918168741678648022940613796829566893389100562532347981860917540264049

In [60]:
10 / 3

3.3333333333333335

In [61]:
75892745.215489247589274985712

75892745.21548925

In [62]:
75892745.215489247589274985712 - 75892745.21548925

0.0

In [63]:
(13 ** 0.5) ** 2

12.999999999999998

In [64]:
int(10 / 5)

2

In [65]:
int(10 / 4)

2

In [66]:
float(3)

3.0

In [67]:
6 / 4

1.5

In [68]:
6 / 4000

0.0015

In [69]:
6 / 400000000000000000000000000000000000000000000000000000000

1.5e-56

In [70]:
400000000000000000000000000000000000000000000000000000000 * 1.5e-56

6.0

In [71]:
1.5e-56

1.5e-56

In [72]:
x = 5

In [74]:
2*x

10

In [75]:
2 *    x

10

In [76]:
round(3.7)

4

In [77]:
round(2.00000052345324, 2)

2.0

In [78]:
10 * 3.0

30.0

## Strings ##

In [81]:
'Flavor'

'Flavor'

In [79]:
Flavor

NameError: name 'Flavor' is not defined

In [80]:
"Flavor"

'Flavor'

In [82]:
"Don't always use single quotes"

"Don't always use single quotes"

In [83]:
'Don't always use single quotes'

SyntaxError: unterminated string literal (detected at line 1) (2648065634.py, line 1)

In [84]:
'straw' + 'berry' # concatenation

'strawberry'

In [85]:
'Chris' + 'Paul' # spaces aren't added for you

'ChrisPaul'

In [86]:
'Chris' + ' ' + 'Paul'

'Chris Paul'

In [87]:
'ha' * 100

'hahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahaha'

In [88]:
'ha' * 5.5

TypeError: can't multiply sequence by non-int of type 'float'

In [90]:
'ha' + 10

'ha10'

In [91]:
int('3')

3

In [92]:
int('3.0')

ValueError: invalid literal for int() with base 10: '3.0'

In [3]:
float('3.0')

3.0

In [93]:
str(3)

'3'

In [94]:
str(4.5)

'4.5'

## Dictionary ##

In [1]:
# dictionary with key-value pairs
my_dict = {'name': 'Michael', 'age': 20}

In [3]:
# Access the value stored in the key 'name'
# Output: Michael
print(my_dict['name'])

Michael

In [4]:
# No such key exists -> error
my_dict['address']

KeyError: 'address'

In [5]:
# Update values
my_dict['age'] = 21

In [6]:
print(my_dict['age'])

21

In [7]:
print(my_dict)

{'name': 'Michael', 'age': 21}

## Types ##

In [ ]:
type(10)

In [ ]:
a = 10

In [ ]:
type(a)

In [ ]:
type(4.5)

In [ ]:
type('abc')

In [95]:
type(skyscrapers)

datascience.tables.Table

In [96]:
type(True)

bool

In [ ]:
type(abs)

In [ ]:
type(min)

In [8]:
type(my_dict)

dict