In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture. For now, don't worry about what it means: we'll learn more about what's inside of it in the next few lectures.

## Names ##

In [ ]:
a = 4

In [ ]:
a

In [ ]:
a * 3

In [ ]:
b = 9

In [ ]:
b

In [ ]:
total = a + b

In [ ]:
total

In [ ]:
a = 10

In [ ]:
total

In [ ]:
total = a + b

In [ ]:
total

In [ ]:
'total'

In [ ]:
c * a

In [ ]:
a = 7
a

### Why Names?

In [ ]:
hours_per_week = 40
weeks_per_year = 52

In [ ]:
hours_per_year = hours_per_week * weeks_per_year

In [ ]:
hours_per_year

In [ ]:
# Minimum hourly wage in HK
hk_hourly_minimum_wage = 37.5

In [ ]:
weekly_wages = hours_per_week * hk_hourly_minimum_wage
weekly_wages

In [ ]:
yearly_wages = hours_per_year * hk_hourly_minimum_wage
yearly_wages

In [ ]:
40 * 37.5

In [ ]:
40 * 52 * 37.5

## Functions and Call Expressions

Built-in function documentation: https://docs.python.org/3/library/functions.html

In [ ]:
abs(-5)

In [ ]:
abs(1 - 3)

In [ ]:
day_temp = 52
night_temp = 47
abs(night_temp - day_temp)

In [ ]:
min(14, 15)

In [ ]:
round(123.456)

In [ ]:
round(123.456, 1)

In [ ]:
round(123.456, 2)

In [ ]:
round(123.456, 0)

In [ ]:
round(123.456, ndigits=1)

In [ ]:
ndigits

## Tables ##
Documentation of Table: http://data8.org/datascience/tables.html

In [ ]:
cones = Table.read_table('cones.csv')
cones

In [ ]:
cones.show(3)

In [ ]:
cones.show()

In [ ]:
cones.select('Flavor')

In [ ]:
cones.select('Flavor', 'Price')

In [ ]:
cones.select(Flavor, 'Price')

In [ ]:
cones.drop('Price')

In [ ]:
cones

In [ ]:
cones_without_price = cones.drop('Price')
cones_without_price

In [ ]:
cones.where('Flavor', 'chocolate')

In [ ]:
cones.sort('Price')

In [ ]:
cones.sort('Price', descending=True)

In [ ]:
cones.sort('Price', descending=False)

In [ ]:
# sort string: dictionary order
cones.sort('Flavor', descending=True)

In [ ]:
cones.sort('Flavor', descending=False)

### A more interesting table

In [ ]:
skyscrapers = Table.read_table('skyscrapers.csv')
skyscrapers

In [ ]:
skyscrapers.where('city', 'Los Angeles')

In [ ]:
skyscrapers.where('name', 'Empire State Building')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed', descending=True)

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed', descending=True).show(3)

## Numbers ##

In [ ]:
30

In [ ]:
10 * 3    # int

In [ ]:
10 / 3    # float

In [ ]:
10 / 2

In [ ]:
10 ** 3

In [ ]:
10 ** 0.5

In [ ]:
1234567 ** 890

In [ ]:
10 / 3

In [ ]:
75892745.215489247589274985712

In [ ]:
75892745.215489247589274985712 - 75892745.21548925

In [ ]:
(13 ** 0.5) ** 2

In [ ]:
int(10 / 5)

In [ ]:
int(10 / 4)

In [ ]:
float(3)

In [ ]:
6 / 4

In [5]:
6 / 4000

0.0015

In [4]:
6 / 400000000000000000000000000000000000000000000000000000000

1.5e-56

In [6]:
400000000000000000000000000000000000000000000000000000000 * 1.5e-56

6.0

In [ ]:
1.5e-56

In [ ]:
x = 5

In [ ]:
2x

In [ ]:
2 * x

In [ ]:
round(3.7)

In [ ]:
round(2.00000052345324, 2)

In [ ]:
10 * 3.0

## Strings ##

In [ ]:
'Flavor'

In [ ]:
Flavor

In [ ]:
"Flavor"

In [ ]:
"Don't always use single quotes"

In [ ]:
'Don't always use single quotes'

In [ ]:
'straw' + 'berry' # concatenation

In [ ]:
'Chris' + 'Paul' # spaces aren't added for you

In [ ]:
'Chris' + ' ' + 'Paul'

In [ ]:
'ha' * 100

In [ ]:
'ha' * 5.5

In [ ]:
'ha' + 10

In [1]:
int('3')

3

In [2]:
int('3.0')

ValueError: invalid literal for int() with base 10: '3.0'

In [3]:
float('3.0')

3.0

In [ ]:
str(3)

In [ ]:
str(4.5)

## Dictionary ##

In [1]:
# dictionary with key-value pairs
my_dict = {'name': 'Michael', 'age': 20}

In [3]:
# Access the value stored in the key 'name'
# Output: Michael
print(my_dict['name'])

Michael

In [4]:
# No such key exists -> error
my_dict['address']

KeyError: 'address'

In [5]:
# Update values
my_dict['age'] = 21

In [6]:
print(my_dict['age'])

21

In [7]:
print(my_dict)

{'name': 'Michael', 'age': 21}

## Types ##

In [ ]:
type(10)

In [ ]:
a = 10

In [ ]:
type(a)

In [ ]:
type(4.5)

In [ ]:
type('abc')

In [ ]:
type(skyscrapers)

In [ ]:
type(True)

In [ ]:
type(abs)

In [ ]:
type(min)

In [8]:
type(my_dict)

dict